body{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: red;
}

#top-home{
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

p{
    text-align: left;
    padding-left: 160px;
    font-family: 'Times New Roman', Times, serif;
    text-justify: auto;
}

#titulo-shadowofthetombraider{
    text-align: left;
    padding-left: 160px;
}

h2{
    text-align: left;
    padding-left: 160px;
}

iframe{
    padding-left: 160px;
}

#re4-randomizer{
    text-align: left;
    padding-left: 160px;
}

