body{
    background-color: black;
}

a{
    text-decoration: none;
    color: red;
}

#top-home{
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

p{
    text-align: left;
    padding-left: 160px;
    font-family: 'Times New Roman', Times, serif;
}

#texto-randomizer{
    text-align: left;
    padding-left: 160px;
    font-family: 'Times New Roman', Times, serif;
    border: 10px;
    width: 200px;
    height: 200px;
    background-color: gray;
}

h1{
    text-align: left;
    padding-left: 160px;
}

h2{
    text-align: left;
    padding-left: 160px;
}

#mod-randomizer{
    padding-left: 160px;
}