body{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

#top-home{
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}